.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.REnviron
.Renv
.env

#scripts to retrieve data
GatherData.R
syncData.R

#skip these folders
data/
analyses/local
docs/
